html {
    background-image: url("images/bg7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#container{
    height: fit-content;
    margin-left: 2%;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 2fr 2fr 3fr 2fr ;
}

#leftSideSpace{
    grid-column-start: 1;
    grid-column-end: 2;
}

#rightSideSpace{
    grid-column-start: 4;
    grid-column-end: 5;
}

#rightSideSpace, #leftSideSpace{
    grid-row-start: 2;
    grid-row-end: 4;

    height: 80vw;
    width: 10vw;
}

#leftSquare, #middleSquare{
    grid-row-start: 2;
    grid-row-end: 4;

    z-index: 4; 
}

#lowerSquare{
    grid-row-start: 3;
    grid-row-end: 4;

    z-index: 3; 
}

#hamburgerMenu{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    background-color: inherit;
    width: 60px;
    height: fit-content;
    margin-left: 42vw;
    margin-top: 8vw;
    margin-bottom: 7vw;
    outline: none !important; /*no border around button after clicking*/
    border: none;
}

#TitleAboutMe{
    color: #4b6cc1;
    margin-bottom: -2%;
    font-size: 4vw;
}

p {
    font-size: 3vw;
}

#leftSquare{
    grid-column-start: 2;
    grid-column-end: 3;

    background-color: #f5f5f5;
    height: 60vw;
    width: 35vw;
    padding: 0 2vw 0 2vw;
    overflow-y: scroll;
    margin-left: -4vw;
}

#getToWorkButton{
    border: 2px solid #D1E4F3;
    background-color: #4b6cc1;
    margin-bottom: 5vw;
    margin-left: 8vw;
    font-size: 3vw;
    padding: 1vw;
}

#getToWorkButton a{
    text-decoration: none;
    color: white;
}

/*SCROLLBAR FOR UPPERSQUARE*/
/* width */
#leftSquare::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
#leftSquare::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
    
/* Handle */
#leftSquare::-webkit-scrollbar-thumb {
    background: #6988d8; 
}
    
/* Handle on hover */
#leftSquare::-webkit-scrollbar-thumb:hover {
    background: #4b6cc1; 
}

#middleSquare{
    grid-column-start: 3;
    grid-column-end: 4;

    background-color: #D1E4F3;
    width: 45vw;
    height: 60vw;
}


#lowerSquare{
    grid-column-start: 1;
    grid-column-end: 5;

    background-color: #4b6cc1;
    width: 95vw;
    height: 30vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

.bigDots, .middleDots, .smallDots{
    position: absolute;
    display: none;
}

.bigDots{
    width: 11vw;
}

.middleDots{
    width: 9vw;
}

.smallDots{
    width: 6vw;
}

#phpDot{
    margin-top: 27vw;
    margin-left: 10vw;
}

#pythonDot{
    margin-top: 14vw;
    margin-left: 15vw;
}

#jsDot{
    margin-top: 24vw;
    margin-left: 25vw;
}

#htmlDot{
    margin-top: 14vw;
    margin-left: 28vw;
}

#cssDot{
    margin-top: 36vw;
    margin-left: 20vw;
}

#sqlDot{
    margin-top: 17vw;
    margin-left: 4vw;
}

#uiuxDot{
    margin-top:37vw;
    margin-left: 5vw;
}

#cDot{
    margin-top: 10vw;
    margin-left: 9vw;
}

#javaDot{
    margin-top: 37vw;
    margin-left: 30vw;
}

@media (max-width:500px)  { /*mobile*/
    
    html {
        height: 170%;
    }

    #container{
        display: grid;
        grid-template-rows: auto 1fr ;
        grid-template-columns: 1fr 2fr 1fr;
        margin: auto;
    }

    #leftSideSpace{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    #rightSideSpace{
        grid-column-start: 3;
        grid-column-end: 4;
    }
    
    #rightSideSpace, #leftSideSpace{
        grid-row-start: 1;
        grid-row-end: 5;
        height: 100vw;
        width: 5vw;
    }
    
    #leftSquare{
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #middleSquare{
        grid-row-start: 2;
        grid-row-end: 3; 
    }
    
    #lowerSquare{
        grid-row-start: 3;
        grid-row-end: 5;
    }
    
    #hamburgerMenu{
        grid-column-start: 2;
        grid-column-end:3;
        grid-row-start: 1;
        grid-row-end: 2;
    
        margin-left: 72vw;
        margin-top: 5vw;
        margin-bottom: 10vw;
    }
    
    #TitleAboutMe{
        font-size: 6vw;
        text-align: center;
    }
    
    p {
        font-size: 4vw;
    }

    #leftSquare{
        grid-column-start: 2;
        grid-column-end: 3;
    
        background-color: #f5f5f5;
        height: fit-content;
        width: 65vw;
        margin-left: 10vw;

    }

    #getToWorkButton{
        margin-left: 20vw;
        font-size: 4vw;
        padding: 2vw;
    }

    #middleSquare{
        grid-column-start: 2;
        grid-column-end: 3;
    
        background-color: #D1E4F3;
        width: 69vw;
        height: 70vw;
        margin-left: 10vw;
    }
    
    #lowerSquare{
        grid-column-start: 2;
        grid-column-end: 3;
    
        width: 90vw;
        height: 80vw;
        margin-top: 50vw;
        margin-left: -1vw;
    }
    
    .bigDots{
        width: 20vw;
    }
    
    .middleDots{
        width: 16vw;
    }
    
    .smallDots{
        width: 11vw;
    }
    
    #phpDot{
        margin-top: 27vw;
        margin-left: 15vw;
    }
    
    #pythonDot{
        margin-top: 8vw;
        margin-left: 28vw;
    }
    
    #jsDot{
        margin-top: 28vw;
        margin-left: 40vw;
    }
    
    #htmlDot{
        margin-top: 10vw;
        margin-left: 50vw;
    }
    
    #cssDot{
        margin-top: 45vw;
        margin-left: 30vw;
    }
    
    #sqlDot{
        margin-top: 17vw;
        margin-left: 2vw;
    }
    
    #uiuxDot{
        margin-top:45vw;
        margin-left: 5vw;
    }
    
    #cDot{
        margin-top: 5vw;
        margin-left: 12vw;
    }
    
    #javaDot{
        margin-top: 50vw;
        margin-left: 50vw;
    }

}

@media (min-width:780px)  { 

    #container{
        width: 747.2px;
        height: 795px;
        margin: auto; /*center*/
    }

    #rightSideSpace, #leftSideSpace{    
        height: 624px;
        width: 78px;
    }

    #leftSquare {
        height: 468px;
        width: 275.51px;
    }
    
    #middleSquare{
        width: 351px;
        height: 468px;
    }

    #lowerSquare{
        width: 740.24px;
        height: 233.75px;
    }

    #hamburgerMenu{
        margin-left: 325.92px;
        margin-top: 38.8px;
        margin-bottom: 35px;
    }

    #TitleAboutMe{
        margin-bottom: -5.325px;
        font-size: 31.04px;
    }

    p {
        font-size: 23.28px;
    }

    #getToWorkButton{
        width: 139.84px;
        height: 45.9px;
        margin-bottom: 38.8px;
        margin-left: 62.08px;
        font-size: 23.28px;
        padding: 7.76px;
    }

    .bigDots{
        width: 85.35px;
    }
    
    .middleDots{
        width: 69.84px;
    }
    
    .smallDots{
        width: 46.55px;
    }

    #phpDot{
        margin-top: 210.168px;
        margin-left: 84.08px;
    }
    
    #pythonDot{
        margin-top: 108.64px;
        margin-left: 116.4px;
    }
    
    #jsDot{
        margin-top: 186.24px;
        margin-left: 194px;
    }
    
    #htmlDot{
        margin-top: 108.64px;
        margin-left: 217.28px;
    }
    
    #cssDot{
        margin-top: 279.36px;
        margin-left: 155.2px;
    }
    
    #sqlDot{
        margin-top: 131.92px;
        margin-left: 31.04px;
    }
    
    #uiuxDot{
        margin-top: 287.12px;
        margin-left: 38.8px;
    }
    
    #cDot{
        margin-top: 77.6px;
        margin-left: 69.84px;
    }
    
    #javaDot{
        margin-top: 287.12px;
        margin-left: 232.8px;
    }

}

@media (min-width:1200px)  { 

    #lowerSquare{
        margin-left: -0.5vw;
    }

}