
#container{
    height: 1000px;
    padding-bottom: 5%;
}

#TitleAboutMe{
    color: #4b6cc1;
    margin-bottom: -2%;
    font-size: 25px;
}

p {
    font-size: 18px;
}

#upperSquare{
    background-color: #D1E4F3;
    height: 300px;
    width: 240px;
    position: absolute;
    margin-top: 22%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    transition: .9s ease;/*sliding*/
}

.hideUpperSquare{
    margin-left: -100%;
}

.showUpperSquare {  /*square slides in from the left when loading page*/
    margin-left: -3%;
}

#middleSquare{
    background-color: #D1E4F3;
    width: 260px;
    height: 280px;
    position: absolute;
    margin-top: 150%;
    left: 0%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

#lowerSquare{
    background-color: #D1E4F3;
    width: 240px;
    height: 230px;
    position: absolute;
    margin-top: 270%;
    margin-bottom: 30%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
    transition: .9s ease-out; /*sliding*/
}

.hideLowerSquare{
    margin-left: 150%;
}

.showLowerSquare {  /*square slides in from the right when loading page*/
    margin-left: 5%;
}

.bigDots{
    position: absolute;
    width: 70px;
    display: none;
}

.middleDots{
    position: absolute;
    display: none;
    width: 50px;
}

.smallDots{
    width: 30px;
    position: absolute;
    display: none;
}

#phpDot{
    margin-top: 30%;
    margin-left: 15%;
}

#pythonDot{
    margin-left: 30%;
    margin-top: 5%;
}

#jsDot{
    margin-top: 25%;
    margin-left: 50%;
}

#htmlDot{
    margin-top: 8%;
    margin-left: 8%;
}

#cssDot{
    margin-top: 5%;
    margin-left: 60%;
}

#sqlDot{
    margin-top: 50%;
    margin-left: 40%;
}

#uiuxDot{
    margin-top: 55%;
    margin-left: 8%;
}

#cDot{
    margin-top: 55%;
    margin-left: 70%;
}

#javaDot{
    margin-top: 25%;
    margin-left: 78%;
}



/*NAVBAR CSS*/
#navbarDiv {
    height: 170%;
}

#navbarFill{
    height: 170%;
}

@media screen and (min-width: 320px) { /*from and bigger*/ /*iphone 5/SE*/
   
    #container{
        height: 1100px;
        padding-bottom: 5%;
    }

    #upperSquare{
        height: 280px;
        width: 290px;
    }

    #middleSquare{
        width: 100%;
        margin-top: 130%;
        margin-left: 0%;
    }
    
    #lowerSquare{
        width: 290px;
        height: 230px;
        margin-top: 240%;
        margin-bottom: 40%;
    }

    .showLowerSquare {  /*square slides in from the right when loading page*/
        margin-left: 5%;
    }

    .bigDots{
        width: 80px;
    }
    
    .middleDots{
        width: 60px;
    }
    
    .smallDots{
        width: 40px;
    }
    
}

@media screen and (min-width: 360px) { /*from and bigger*/ /*moto G4, Galaxy S5 */
    #container{
        height: 1100px;
        padding-bottom: 5%;
    }

    #middleSquare{
        margin-top: 120%;
    }
    
    #lowerSquare{
        margin-top: 220%;
        height: 230px;
    }

    .showLowerSquare {  /*square slides in from the right when loading page*/
        margin-left: 12%;
    }

    .bigDots{
        width: 90px;
    }
    
    .middleDots{
        width: 70px;
    }
    
    .smallDots{
        width: 50px;
    }

}

@media screen and (min-width: 375px) { /*from and bigger  Iphone 6/7/8*/ 
    #middleSquare{
        padding-bottom: 10%;
    }

    #lowerSquare{
        margin-top: 225%;
    }

    .showLowerSquare {  /*square slides in from the right when loading page*/
        margin-left: 15%;
    }

}

@media screen and (min-width: 411px) { /*from and bigger  Pixel 2*/ 
    
    #upperSquare{
        height: 280px;
        padding-left: 13px;
        width: 350px;
    }
    
    #middleSquare{
        margin-top: 105%;
        padding-bottom: 10%;
    }

    #lowerSquare{
        width: 350px;
        margin-top: 195%;
    }

    .showLowerSquare {  /*square slides in from the right when loading page*/
        margin-left: 13%;
    }

}