html {
    background-image: url("images/bg7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 160%;
}

#hamburgerMenu{
    background-color: inherit;
    width: 60px;
    height: fit-content;
    margin-left: 85vw;
    margin-top: 5vw;
    margin-bottom: 2vw;
    outline: none !important; /*no border around button after clicking*/
    border: none;
}

#container{
    position: absolute;
    left: 50%;
    margin-left: -250px;
    background-color: #D1E4F3;
    padding-left: 5%;
    padding-bottom: 5%;
    width: 500px;
    height: fit-content;
}

#contactTitel{
    color: #4b6cc1;
    font-size: 6vw;
    margin-bottom: 1%;
}

.inputfields{
    width: 90%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#submitButton{
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:1px solid #4b6cc1;
    padding-top: 3%; 
    padding-bottom: 3%;
    padding-left: 4%;
    padding-right: 4%;
    color: white;
    background-color: #4b6cc1;
    font-size: 15px;
}

#socialTitel{
    color: #4b6cc1;
    font-size: 5vw;
    margin-top: 10%;
    margin-bottom: 0%;
}

.socialmediaIcons{
    width: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 5%;
    margin-top: 10px;

}

#mapImg{
    width: 70%;
    margin-left: 12%;
    margin-top: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-self: center;
}

@media (max-width:500px)  { /*mobile*/
    
    html {
        height: 140%;
    }
    
    #hamburgerMenu{
        margin-left: 80vw;
    }

    #container{
        width: 80vw;
        left: 0vw;
        margin-left: 7vw;
    }

    #contactTitel{
        font-size: 40px;
        margin-bottom: 2%;
    }
    
    .inputfields{
        width: 80%;
        margin-top: 2%;
    }
    
    #submitButton{
        padding-top: 2%; 
        padding-bottom: 2%;
        font-size: 18px;
    }
    
    #socialTitel{
        margin-bottom: 2%;
        font-size: 36px;
    }
    
    .socialmediaIcons{
        width: 15%;
        margin-right: 5%;
    }
    
    #mapImg{
        width: 90%;
        margin-left: 1%;
    }

}

@media (min-width:800px)  { 

    
    #hamburgerMenu{
        margin-left: 80vw;
        margin-top: 39px;
    }

    #container{
        padding-left: 39px;
        padding-bottom: 39px;
    }
    
    #contactTitel{
        font-size: 47px;
        margin-bottom: 5px;
    }
    
    .inputfields{
        width: 450px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    #submitButton{
        padding-top: 15px; 
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #socialTitel{
        font-size: 39px;
        margin-top: 50px;
    }
    
    .socialmediaIcons{
        margin-right: 25px;
    }
    
    #mapImg{
        width: 350px;
        margin-left: 60px;
        margin-top: 75px;
    }
}

@media (min-width:900px)  { 

    #hamburgerMenu{
        margin-left: 75vw;
    }

}

@media (min-width:1000px)  { 

    #hamburgerMenu{
        margin-left: 73vw;
    }
    
}

@media (min-width:1200px)  { 

    #hamburgerMenu{
        margin-left: 71vw;
    }
    
}

@media (min-width:1300px)  { 

    #hamburgerMenu{
        margin-left: 69vw;
    }
    
}

@media (min-width:1400px)  { 

    #hamburgerMenu{
        margin-left: 67vw;
    }
    
}


/*
@media screen and (min-width: 320px) { /*from and bigger*/ /*iphone 5/SE*/
/*
    body{
        height: 1000px;
        padding-bottom: 5%;
    }

    #container{
        height: 900px;
    }

    #contactTitel{
        font-size: 40px;
        margin-bottom: 2%;
    }
    
    .inputfields{
        width: 80%;
        margin-top: 2%;
    }
    
    #submitButton{
        padding-top: 2%; 
        padding-bottom: 2%;
        font-size: 18px;
    }
    
    #socialTitel{
        margin-bottom: 2%;
        font-size: 38px;
    }
    
    .socialmediaIcons{
        width: 15%;
        margin-right: 5%;
    }
    
    #mapImg{
        width: 90%;
        margin-left: 1%;
    }

}

@media screen and (min-width: 375px) { /*from and bigger Iphone 6/7/8*/ 
/*
    body{
        height: 1000px;
        padding-bottom: 5%;
    }

    #container{
        height: 900px;
    }

    #socialTitel{
        margin-top: 10%;
    }

    #mapImg{
        margin-top: 13%;
    }
}

@media screen and (min-width: 411px) { /*from and bigger  Pixel 2, iphone6/7/8 plus*/ 
/*
    body{
        height:  1100px;
    }

    #container{
        height: 1000px;
    }

}

@media screen and (min-width: 540px) { /*from and bigger Surface Duo*/ 
   /* 
    body{
        height:  1200px;
    }

    #container{
        height: 1100px;
    }

    #submitButton{
        margin-top: 2%; 
    }

    #socialTitel{
        margin-top: 10%;
    }

}

@media screen and (min-width: 768px) { /*from and bigger ipad*/ 
    /*
    body{
        height:  1900px;
    }

    #container{
        height: 1700px;
    }

    #contactTitel{
        font-size: 55px;
        margin-bottom: 2%;
    }
    
    .inputfields{
        font-size: 30px;
    }
    
    #submitButton{
        font-size: 30px;
    }
    
    #socialTitel{
        font-size: 55px;
    }

}

@media screen and (min-width: 1024px) { /*from and bigger ipad Pro*/ 
/*
    body{
        height:  2300px;
    }

    #container{
        height: 2000px;
    }


}