body{
    height: 900px;
    padding-bottom: 5%;
}

#container{
    position: absolute;
    margin-top: 20%;
    margin-left: -3%;
    background-color: #D1E4F3;
    padding-left: 5%;
    width: 100%;
    height: 800px;
}

#contactTitel{
    color: #4b6cc1;
    margin-bottom: 5%;
}

.inputfields{
    width: 90%;
    margin-top: 2%;
}

#submitButton{
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:1px solid #4b6cc1;
    padding-top: 3%; 
    padding-bottom: 3%;
    padding-left: 4%;
    padding-right: 4%;
    color: white;
    background-color: #4b6cc1;
}

#socialTitel{
    color: #4b6cc1;
    margin-top: 15%;
}

.socialmediaIcons{
    width: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 5%;
}

#mapImg{
    width: 100%;
    margin-left: -4%;
    margin-top: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 320px) { /*from and bigger*/ /*iphone 5/SE*/

    body{
        height: 1000px;
        padding-bottom: 5%;
    }

    #container{
        height: 900px;
    }

    #contactTitel{
        font-size: 40px;
        margin-bottom: 2%;
    }
    
    .inputfields{
        width: 80%;
        margin-top: 2%;
    }
    
    #submitButton{
        padding-top: 2%; 
        padding-bottom: 2%;
        font-size: 18px;
    }
    
    #socialTitel{
        margin-bottom: 2%;
        font-size: 38px;
    }
    
    .socialmediaIcons{
        width: 15%;
        margin-right: 5%;
    }
    
    #mapImg{
        width: 90%;
        margin-left: 1%;
    }

}

@media screen and (min-width: 375px) { /*from and bigger Iphone 6/7/8*/ 

    body{
        height: 1000px;
        padding-bottom: 5%;
    }

    #container{
        height: 900px;
    }

    #socialTitel{
        margin-top: 10%;
    }

    #mapImg{
        margin-top: 13%;
    }
}

@media screen and (min-width: 411px) { /*from and bigger  Pixel 2, iphone6/7/8 plus*/ 

    body{
        height:  1100px;
    }

    #container{
        height: 1000px;
    }

}

@media screen and (min-width: 540px) { /*from and bigger Surface Duo*/ 


}