html {
    background-image: url("images/bg7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

body{
    padding-bottom: 120%;
}

#hamburgerMenu{
    background-color: inherit;
    width: 60px;
    height: fit-content;
    margin-left: 80vw;
    margin-top: 5vw;
    margin-bottom: 2vw;
    outline: none !important; /*no border around button after clicking*/
    border: none;
}

#container{
    position: absolute;
    margin-left: 12vw;
    background-color: #D1E4F3;
    padding: 1%;
    width: 70vw;
    height: fit-content;
}

#cvImg{
    width: 96%;
    margin: 2%;
}

#downloadOverlay{
    position: absolute;
    opacity: 0;
    transition: .5s ease;

    margin-left: 10vw;
    margin-top: -60vw;
    width: 50vw;
    height: 15vw;
}

#container:hover #cvImg {
    opacity: 0.6;
}
 
#container:hover #downloadOverlay {
    opacity: 1;
}

.downloadButtons{
    position: absolute;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:1px solid #4b6cc1;
    padding-top: 3%; 
    padding-bottom: 3%;
    padding-left: 4%;
    padding-right: 4%;
    color: white;
    background-color: #4b6cc1;
    width: 45.5vw;
}

#eng{
    margin-left: 0vw;
    margin-top: 0vw;
}

#ned{
    margin-left: 0vw;
    margin-top: 7vw;
}

@media (max-width:500px)  { /*mobile*/

    #hamburgerMenu{
        margin-left: 79vw;
    }
    
    #container{
        margin-left: 1vw;
        width: 90vw;
    }

    #downloadOverlay{
        margin-left: 20vw;
        margin-top: -70vw;
    }
}

@media (min-width:600px)  { 
    
    body{
        padding-bottom: 720px;
    }

    #hamburgerMenu{
        margin-left: 80vw;
        margin-top: 30px;
        margin-bottom: 12px;
    }
    
    #container{
        left: 50%;
        margin-left: -213px;
        width: 426px;
    }
   
    #downloadOverlay{
        margin-left: 60.9px;
        margin-top: -365px;
        width: 304.8px;
        height: 91.43px;
    }

    .downloadButtons{
        width: 272.9px;
    }

    #ned{
        margin-top: 41.9px;
    }
}

@media (min-width:700px)  { 

    #hamburgerMenu{
        margin-left: 76vw;
    }
    
}

@media (min-width:800px)  { 
    
    #hamburgerMenu{
        margin-left: 73vw;
    }
    
}

@media (min-width:900px)  { 

    #hamburgerMenu{
        margin-left: 70vw;
    }

}

@media (min-width:1000px)  { 

    #hamburgerMenu{
        margin-left: 68vw;
    }
    
}

@media (min-width:1200px)  { 

    #hamburgerMenu{
        margin-left: 65vw;
    }
    
}


