#container{
    position: absolute;
    margin-top: 20%;
    margin-left: -3%;
    background-color: #D1E4F3;
    padding: 1%;
    width: 100%;
    text-align: center;
    height: 500px;
}

#cvImg{
    width: 90%;
    margin: 5%;
    margin-top: 10%;
}

.downloadButtons{
    position: absolute;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:1px solid #4b6cc1;
    padding-top: 3%; 
    padding-bottom: 3%;
    padding-left: 4%;
    padding-right: 4%;
    color: white;
    background-color: #4b6cc1;
}

#eng{
    margin-left: -94%;
    margin-top: 135%;
    width: 80%;
}

#ned{
    margin-left: -94%;
    margin-top: 155%;
    width: 80%;
}

@media screen and (min-width: 320px) { /*from and bigger*/ /*iphone 5/SE*/

    body{
        height: 600px;
    }

    #container{
        height: 500px;
    }

    #cvImg{
        width: 75%;
    }

    #eng{
        margin-left: -86%;
        margin-top: 115%;
    }
    
    #ned{
        margin-left: -86%;
        margin-top: 135%;
    }

}

@media screen and (min-width: 360px) { /*from and bigger*/ /*moto G4, Galaxy S5 */
    body{
        height: 650px;
    }

    #container{
        height: 560px;
    }

    #cvImg{
        width: 80%;
    }

    #eng{
        margin-left: -88%;
        margin-top: 118%;
    }
    
    #ned{
        margin-left: -88%;
        margin-top: 135%;
    }
}

@media screen and (min-width: 375px) { /*from and bigger Iphone 6/7/8*/ 

    body{
        height: 700px;
    }

    #container{
        height: 600px;
    }

    #cvImg{
        width: 80%;
    }

}

@media screen and (min-width: 411px) { /*from and bigger  Pixel 2, iphone6/7/8 plus*/ 

    body{
        height: 750px;
    }

    #container{
        height: 640px;
    }

    #cvImg{
        width: 80%;
    }

}

@media screen and (min-width: 540px) { /*from and bigger Surface Duo*/ 

    body{
        height: 900px;
    }

    #container{
        height: 725px;
    }

    #cvImg{
        width: 70%;
        margin-top: 5%;
    }

    #eng{
        margin-left: -83%;
        margin-top: 100%;
    }
    
    #ned{
        margin-left: -83%;
        margin-top: 115%;
    }

}