#bg {
    background-image: url("images\whitebg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#container{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
}

#upperSquare, #profileImgDiv, #lowerSquare{
    grid-row-start: 2;
    grid-row-end: 3;
}

#hamburgerMenu{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: inherit;
    width: 60px;
    height: fit-content;
    margin-left: 75%;
    margin-bottom: 15%;
    margin-top: 5%;
    outline: none !important; /*no border around button after clicking*/
    border: none;
}


#upperSquare {
    grid-column-start: 1;
    grid-column-end: 2;
    
    background-color: #d1e4f3;
    width: 100%;
    height: 40vw;
    z-index: 3; 

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    margin-left: 5vw;

}

#profileImgDiv {
    grid-column-start: 1;
    grid-column-end: 3;
    z-index: 4; /*on top of blue squares*/
    width: 80vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f6f8f7;
    height: 50vw;
    margin-left: 10vw;
    margin-top: 5vw;
    display: flex;
}

#textDiv {
    margin-top: 13vw;
    margin-left: 8vw;
    width: 60%;
    color: #777373;
}

#text {
    font-size: 3vw;
}

#iam {
    color: black;
    margin-left: 8vw;
    font-size: 4vw;
    
}

#profileImg {
    background-color: #f6f8f7;
    width: 30%;
}

#lowerSquare {
    grid-column-start: 2;
    grid-column-end: 3;
    
    background-color: #4b6cc1;
    width: 100%;
    height: 40vw;
    z-index: 3; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    margin-top: 21vw;
    margin-left: -1vw;

}

section{
    width: fit-content;
    height: fit-content;
    margin-left: 10vw;
    margin-top: -2vh;

    display: flex;
    justify-items: center;
    align-content: space-between;
}

section div  {
    width: 8vw;
    padding-left: 8%;
    padding-right: 8%;
}

section div img {
    width: 100%;
}


@media (max-width:500px)  { /*mobile*/
    #container{
        display: grid;
        grid-template-rows: auto 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    
    #upperSquare, #profileImgDiv, #lowerSquare{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    #hamburgerMenu{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    #upperSquare {
        grid-row-start: 2;
        grid-row-end: 3;
        
        width: 50vw;
        height: 70vw;
    
        margin-left: 5vw;
    
    }
    
    #profileImgDiv {
        grid-row-start: 2;
        grid-row-end: 4;
        width: 60vw;
        height: 110vw;

        margin-top: 15vw;
        margin-left: 18vw;
     
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    
    #textDiv {
        margin-top: 8vw;
        margin-left: 0vw;
        width: 90%;
        order: 2;
    }
    
    #text {
        font-size: 6vw;
    }
    
    #iam {
        margin-left: 0vw;
        font-size: 7vw;
    }
    
    #profileImg {
        width: 50%;
        margin-top: 2vw;

        order: 1;
    }
    
    #lowerSquare {
        grid-row-start: 3;
        grid-row-end: 4;
        
        width: 50vw;
        height: 70vw;
        
        margin-left: 40vw;
        margin-bottom: 20%;
        margin-top: -10vw;
        
    }

    section{
        width: fit-content;
        height: fit-content;
        /*margin-left: 5vw;
        margin-top: -80vw;*/
        margin-left: 80vw;
        margin-top: -142vw;
    
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-content: space-between;

        z-index: 6;
    }
    
    section div  {
        width: 9vw;
        /*padding-left: 5%;
        padding-right: 5%;*/
        padding-top: 10%;
        padding-bottom: 10%;
    }
    
    section div img {
        width: 100%;
    }
}
   

@media (min-width:500px)  { /*SECTION (PROGRAMMING ICONS)*/
    section{
        margin-top: -4vw;
    }    
}

@media (min-width:900px)  { 
    #container{
        margin-top: -2vw;
        position: fixed;
        left: 50%;
        width:834.4px;
        margin-left: -465px;
    }

    #hamburgerMenu{
        width: 60px;
        margin-left: 342px;
        margin-bottom: 20px;
        margin-top: 60px;
    }

    #upperSquare {
        width: 453.2px;
        height: 368.95px;
        margin-left: 46.12px;
    }
    
    #profileImgDiv {
        width: 737.91px;
        height: 461.2px;
        margin-left: 92.24px;
        margin-top: 46.12px;
    }
    
    #textDiv {
        margin-top: 119.912px;
        margin-left: 73.792px;
        width: 442.74px;
        height: 341.3px;
    }
    
    #text {
        font-size: 27.672px;
    }
    
    #iam {
        margin-left: 73.792px;
        font-size: 36.896px;
    }
    
    #profileImg {
        width: 221.36px;
    }
    
    #lowerSquare {
        width: 444.8px;
        height: 368.95px;
        margin-top: 193.704px;
        margin-left: -35px;  
    }
    
    section{ 
        position: absolute;
        margin-left: 15vw;
        margin-top: 640px;
    }
    
    section div  {
        width: 36px;
        padding-top: -5px;
        padding-left: 17.7px;
        padding-right: 17.7px;
    }
    
    section div img {
        width: 100%;
    }

}

@media (min-width:1100px)  { 
    section{ 
        margin-left: 18vw;
        margin-top: 630px;
    }
}

@media (min-width:1200px)  { 
    section{ 
        margin-left: 22vw;
        margin-top: 630px;
    }
}

@media (min-width:1300px)  { 
    section{ 
        margin-left: 25vw;
        margin-top: 630px;
    }
}

@media (min-width:1300px)  { 
    section{ 
        margin-left: 29vw;
        margin-top: 630px;
    }
}