#profileImgDiv {
  width: 50%;
  position: absolute;
  z-index: 2; /*on top of blue squares*/
  margin-left: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 25%;
}

#profileImg {
  background-color: #f6f8f7;
  width: 100%;
}

#textDiv {
  margin-top: 135%;
  margin-left: 2%;
  width: 100%;
  z-index: 2; /*on top of blue squares*/
  position: absolute;
  color: #777373;
}

#text {
  font-size: 30px;
}

#iam {
  color: black;
  font-size: 32px;
  margin-left: 20%;
}

#upperSquare {
  background-color: #d1e4f3;
  height: 25%;
  width: 50%;
  position: absolute;
  margin-top: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 5%;
}

#lowerSquare {
  background-color: #d1e4f3;
  width: 100%;
  height: 200px;
  position: absolute;
  margin-top: 120%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: -1%;
}


@media screen and (min-width: 540px) { /*from and bigger Surface Duo*/ 

    #profileImgDiv {
        width: 40%;
        margin-left: 50%;
        margin-top: 18%;
      }
      
      #textDiv {
        margin-top: 100%;
      }
      
      #text {
        font-size: 35px;
      }
      
      #iam {
        font-size: 40px;
        margin-left: 30%;
        margin-top: -4%;
      }
      
      #upperSquare {
        height: 30%;
        margin-left: 15%;
        width: 40%;
      }
      
      #lowerSquare {
        width: 105%;
        margin-top: 95%;
      }

}