
#profileImgDiv{ /*IMG + text shpowing*/
    width: 60%; 
    position: absolute;
    z-index: 2; /*on top of blue squares*/
    margin-left: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 35%;
}

#profileImg{
    background-color: #F6F8F7;
    width: 100%; 
}

#textDiv{
    margin-top: 170%;
    margin-left: 2%;
    width: 100%;
    z-index: 2; /*on top of blue squares*/
    position: absolute;
    color: #777373;
}

#iam{
    color: black;
    margin-left: 20%;
}


#upperSquare{
    background-color: #D1E4F3;
    height: 200px;
    width: 200px;
    position: absolute;
    margin-top: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 5%;
}

#lowerSquare{
    background-color: #D1E4F3;
    width: 300px;
    height: 200px;
    position: absolute;
    margin-top: 150%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: -2%;
}

@media screen and (min-width: 374px) { /*from and bigger*/ /*iphone x*/
    
    #iam{
        margin-left: 30%;
    }
    
    #lowerSquare{
        width: 100%;   
    }
}