
#hamburgerMenuImage{
    width: 100%;
}

#navbarDiv {
    position: absolute;
    width: 150px;
    height: 110%;
    background: black;/*383838*/
    z-index: 6; /*on top of fill*/
    transition: .7s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    opacity: 0.9;
    top: 0%;
}

#navbarFill{
    position: absolute;
    width: 110%;
    height: 110%;
    background: #A9A9A9;
    z-index: 5; /*on top of all*/
    opacity: 0.7;
    transition: .9s;
    top: 0%;
}

#navbarDiv ul li a {
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

#navbarDiv ul li{
    margin-left: -20%;
    margin-top: 30%;
}
  
.show {
    left: 0;
}

.hide{
    left: -500px;
}



@media screen and (min-width: 340px) { /*from and bigger  Pixel 2*/ 
    .hide{
        left: -500%;
    }
}
/*
@media screen and (min-width: 411px) { /*from and bigger  Pixel 2 XL*/ 
/*
    #navbarDiv {
        width: 50%;
    }
    
    #navbarDiv ul li a {
        font-size: 25px;
    }
    
    #navbarDiv ul li{
        margin-left: -10%;
    }
    
}
 
@media screen and (min-width: 540px) { /*from and bigger Surface Duo*/ 
    /*#navbarDiv {
        width: 30%;
    }

    #hamburgerMenu{
        margin-left: 85%;
    }

    #navbarDiv ul li a {
        font-size: 28px;
    }
    
    #navbarDiv ul li{
        margin-top: 20%;
        margin-left: -5%;
    }
    
}
  
@media screen and (min-width: 768px) { /*from and bigger ipad*/ 
/*
    #hamburgerMenu{
        width: 80px;
        margin-left: 85%;
    }

    #navbarDiv ul li a {
        font-size: 30px;
    }
    
    #navbarDiv ul li{
        margin-top: 20%;
        margin-left: -2%;
    }
}

@media screen and (min-width: 1024px) { /*from and bigger ipad Pro*/ 
/*
    #navbarDiv ul li a {
        font-size: 40px;
    }
    
    #navbarDiv ul li{
        margin-top: 15%;
        margin-left: -1%;
    }

}

