
#hamburgerMenuImage{
    width: 100%;
}

#navbarDiv {
    position: absolute;
    width: 150px;
    height: 110%;
    background: black;/*383838*/
    z-index: 6; /*on top of fill*/
    transition: .7s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    opacity: 1;
    top: 0%;
}

#navbarFill{
    position: absolute;
    width: 110%;
    height: 110%;
    background: #A9A9A9;
    z-index: 5; /*on top of all*/
    opacity: 0.7;
    transition: .5s;
    top: 0%;
}

#navbarDiv ul li a {
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

#navbarDiv ul li{
    margin-left: -20%;
    margin-top: 30%;
}
  
.show {
    left: 0;
}

.hide{
    left: -500px;
}

@media (min-width: 340px) { /*from and bigger  Pixel 2*/ 
    .hide{
        left: -500%;
    }
}

@media (min-width:930px)  { 

    #navbarDiv {
        width: 25vw;
        top: -1vw;
        margin-left: -2vw;

    }
    
    #navbarFill{
        width: 110vw;
        height: 110vw;
        top: -1vw;
    }
    
    #navbarDiv ul li a {
        list-style: none;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
    }
    
    #navbarDiv ul li{
        margin-left: 0vw;
        margin-top: 5vw;
    }
}

@media (min-width:1030px)  { 

    #navbarDiv {
        width: 20vw;
        margin-left: 0vw;
    }

    #navbarFill{
        margin-left: 0vw;
    }

    #navbarDiv ul li{
        margin-top: 4vw;
    }
    
}

@media (min-width:1030px)  { 

    #navbarDiv ul li a {
        font-size: 25px;
    }
    
}

@media (min-width:1100px)  { 

    #navbarDiv ul li{
        margin-top: 3vw;
    }
    
}