
#container{
    position: absolute;
    margin-top: 20%;
    margin-left: -3%;
    background-color: #D1E4F3;
    padding: 1%;
    width: 100%;
}

#portfolioTitle{
    margin-left: 1%;
    color: #4b6cc1;
}

#filterButtons{
    padding-bottom: 10%;
}

.projectChoiceButtons{
    background-color: white;
    border: none;
    margin-left: 2%;
    height: 30px;
    color: grey;
    outline: none !important; /*no border around button after clicking*/
}

#showAll{
    color: white;
    background-color: #4b6cc1;
}

#projectContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;
}

.projectSquare{
    background-color: white;
    border:1px solid #C9AFBC;
    display: flex;
    align-items: start;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
    margin-bottom: 5%;
    width: 270px;
    color: grey;
    text-decoration: none;
}

.projectSquare h2{
    color: #4b6cc1;
}

.projectImg{
    width: 100%;
}

@media screen and (min-width: 320px) { /*from and bigger*/ /*iphone 5/SE*/

    #portfolioTitle{
        font-size: 40px;
        margin-left: 2%;
    }
    
    #filterButtons{
        margin-left: 2%;
    }
    
    .projectChoiceButtons{
        margin-left: 2%;
        height: 35px;
        font-size: 18px;
    }

}

@media screen and (min-width: 540px) { /*from and bigger Surface Duo*/ 
    
    #portfolioTitle{
        font-size: 50px;
        margin-left: 5%;
        margin-bottom: 2%;
    }
    
    #filterButtons{
        margin-left: 4%;
    }
    
    .projectChoiceButtons{
        margin-left: 2%;
        height: 50px;
        width: 100px;
        font-size: 20px;
    }

    #projectContainer{
        margin-top: -2%;
    }

}

@media screen and (min-width: 768px) { /*from and bigger ipad*/ 
    
    #portfolioTitle{
        font-size: 60px;
        margin-bottom: 2%;
        margin-left: 5%;
    }
    
    #filterButtons{
        margin-left: 3%;
    }
    
    .projectChoiceButtons{
        height: 60px;
        width: 160px;
        font-size: 35px;
    }

    #projectContainer{
        margin-top: -5%;
    }

    .projectSquare{
        margin-right: 5%;
        height: 400px;
        width: 55%;
    }

}

@media screen and (min-width: 1024px) { /*from and bigger ipad Pro*/ 

    #portfolioTitle{
        font-size: 70px;
        margin-left: 8%;
        margin-bottom: 2%;
    }
    
    #filterButtons{
        margin-left: 7%;
    }
    
    .projectChoiceButtons{
        height: 60px;
        width: 160px;
        font-size: 35px;
    }

    #projectContainer{
        margin-top: -5%;
        padding: 1%;
    }

    .projectSquare{
        padding: 2%;
        margin-bottom: 5%;
        margin-right: 5%;
        width: 350px;
        height: 400px;
    }

    .projectSquare h2{ 
        margin-bottom: 5%;
        font-size: 36px;
    }
    
    .projectSquare h4{ 
        font-size: 28px;
        margin-top: 0%;
    }

}