html {
    background-image: url("images/bg7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#back{
    height: 50px;
    margin-left: 7%;
    margin-top: 5vw;
    outline: none !important; /*no border around button after clicking*/
    border: none;
}

#hamburgerMenu{
    display: none;
}

#container{
    position: absolute;
    margin-left: 7%;
    background-color: #D1E4F3;
    padding: 1%;
    width: 80vw;
    height: fit-content;
    margin-top: 5vw;

    display: flex;
}

#imgSquare{
    margin-top: 5vw;
    width: 100%;
    height: 40vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#imgSquare img{
    width:24.5vw;
}

.showImageBg{
    background-color: #28282B;
}

#textSquare{
    margin: 5vw 0.5vw 5vw 5vw;

    height: 40vw;
    width: 100%;
    background-color: #28282B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:1px solid #C9AFBC;
    color: white;
    z-index: 3;
    padding: 3%;
    text-align: center;
}

#textSquare h2 {
    font-size: 4vw;
}

#textSquare h4 {
    font-size: 3vw;
}

#textSquare p {
    font-size: 2vw;
}

#textSquare p:nth-child(4){ /*move github button down*/
    margin-bottom: 4vw;
}

#githubButton{
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:1px solid white;
    padding: 3% 4% 3% 4%;
    color: white;
}

@media (max-width:500px)  { /*mobile*/
    
    html {
        height: 150%;
    }

    body{
        margin-bottom: 320%;
    }

    #back{
        height: 40px;
        margin-left: 2%;
    }

    #container{
        flex-direction: column;
        width: 90vw;
        height: 300vw;
        margin-left: 2%;
    }

    #imgSquare{
        height: 130vw;
        gap: 10px;
        margin-bottom:20%;
        margin-left: 5%;
    }
    
    #imgSquare img{
        width:90%;
    }
    
    #textSquare{
        margin: 10vw 4vw 3vw 3vw;
        height: 90vw;
        width: 85%;
        padding: 7% 4% 0% 4%;
    }

    #textSquare h2 {
        font-size: 8vw;
    }
    
    #textSquare h4 {
        font-size: 5vw;
    }
    
    #textSquare p {
        font-size: 5vw;
    }
    
    #textSquare p:nth-child(4){ /*move github button down*/
        margin-bottom: 8vw;
    }

    #githubButton{
        text-decoration: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border:1px solid white;
        padding: 3% 4% 3% 4%;
        color: white;
        margin-bottom: -30%;
    }
    
}


@media (min-width:800px)  { 
    
    #back{
        position: absolute;
        left: 0%;
        margin-top: 30px;
    }
    
    #container{
        left: 50%;
        margin-left: -359.675px;
    }
    
    #container{
        width: 719.35px;
        height: 494.725px;
        padding: 8.9875px;
        margin-top: 110px;
    }   
    
    #imgSquare{
        margin-top: 44.96px;
        width: 312.375px;
        height: 359.675px;
    }
    
    #textSquare{
        margin: 44.96px 4.496px 44.96px 44.96px;
        height: 359.675px;
        width: 312.375px;
        padding: 21.575px;
    }

    #imgSquare img{
        width:220.3px;
    }

    #textSquare h2 {
        font-size: 35.968px;
    }

    #textSquare h4 {
        font-size: 26.976px;
    }

    #textSquare p {
        font-size: 17.984px;
    }

    #textSquare p:nth-child(4){ /*move github button down*/
        margin-bottom: 35.968px;
    }

}
